<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>
			<a class="navbar-brand" href="http://www.initiatives.fr" target="_blank">
				<img src="../assets/img/logo_init_100x35.png" id="logo-init" alt="Inventaire Initiatives">
			</a>
		</span>
		<span class="spacer"></span>
		<button mat-button>Saisie Stock</button>
		<button mat-button>Saisie Libre</button>
		<button mat-button [routerLink]="['/search-entry']">Recherche</button>
	</mat-toolbar-row>
</mat-toolbar>

<div class="container">
	<router-outlet></router-outlet>
</div>

