.row-input
{
	margin-top: 1em;
}

h2
{
	margin-top: 1em;
	margin-bottom: 0.5em;
}

input
{
	font-weight: 400;
}

.mat-option
{
	height: 2.5em !important;
	line-height: 2.5em !important;
	font-size: 1em;
	font-weight: 400;
}

#loc
{
	margin-right: 2%;
}